* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

body {
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.tooltip {
  display: flex;
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 40%;
  right: 100%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
